*{box-sizing: border-box;}
.mainDiv{
    background: linear-gradient(120deg, #2f2626, #3e3e3e);
    background: repeat;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
} 

  .grid-item {
    display: flex;
    flex-direction: column;
  }

.searchform-container {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(320deg, #2f2626, #3e3e3e);
    min-height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
}

.full-searchform-content {
    display: grid;
    grid-template-rows: 8fr 2fr;
    padding: 20px;
    background-color: #4a4a4a;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

.searchform-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 8fr); 
    padding: 20px; 
    justify-content: center;
    align-items: center;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.grid-item h2 {
    font-size: 1.2rem;
    color: #ffcc00;
    margin-bottom: 10px;
}

.searchform-control input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.searchform-control input:focus {
    outline: none;
    border-color: #ffcc00;
    box-shadow: 0 0 5px #ffcc00;
}

.mat-autocomplete-panel {
    background-color: #1f1f1f;
    color: #fff;
    border: 1px solid #ffcc00;
}

.mat-option {
    color: #fff;
}

.mat-option:hover {
    background-color: #292929;
}

.searchform-control mat-slider {
  width: 100%;
}



.searchform-control-others {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#Search {
    background-color: #ffcc00;
    color: #333;
    width: 105px;
}

button#Search:hover {
    background-color: #ebdb00;
}

button#Reset {
    background-color: #777;
    color: #fff;
    width: 90px;
}

button#Reset:hover {
    background-color: #555;
}

.build-pc-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button#BuildPC {
  padding: 10px 20px;
  width: 210px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #ffcc00;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button#BuildPC:hover {
  background-color: #e65c00;
}

.content-container {
  display: flex;
  justify-content: space-between;
  width: 48%;
}

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}


.card {
  position: relative;
  background: #2f2f2f;
  border: 2px solid #ffcc00;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  color: #dfdfdf;
  margin-top: 115px;
  margin-left: 10px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card-image {
  width: 100%; 
  height: auto; 
  border-radius: 8px; 
  margin: 10px 0;
  object-fit: contain;
}


.ribbon {
  position: absolute;
  top: 10px;
  right: -10px;
  background-color: #ffcc00;
  color: #2f2f2f;
  font-size: 0.9rem;
  padding: 5px 15px;
  transform: rotate(45deg);
  font-weight: bold;
}

.card-content h3 {
  font-size: 1.2rem;
  color: #ffcc00;
  margin: 10px 0;
  padding-right: 100px;
}


.details {
  font-size: 0.9rem;
  margin: 5px 0;
}

.details-button {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
  }

.details-button .details {
  background: #ffcc00;
  color: #2b2b2b;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.details-button .details:hover {
  background: #d4a600;
}



.card-details-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.4s;
  z-index: 10;
}

.card-details-container.open {
  visibility: visible;
  opacity: 1;
}

.card-details-content {
  border-radius: 4px;
  position: relative;
  background: #1f1f1f;
  color: #ffcc00;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.cardDetails {
  height: 100%;
  position: relative;
}

.cardDetails h2, .cardDetails h3 {
  text-align: left;
  margin: 10px 0;
  font-family: 'Open Sans', sans-serif;
}

.cardDetails-form-control-others {
  margin: 5% auto;
  text-align: center;
}

.cardDetails-form-control-others button {
  background-color: #ffcc00;
  color: #333;
}

.close-button {
  position: absolute;
  top: 10px; 
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #ffcc00;
  z-index: 11;
}

.detailsImage {
  max-width: 100%;
  margin: 10px 0;
  max-height: 250px; 
}

.details-table {
  width: 100%;
  background-color: #2f2626;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.order-button{
  
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

#order {
  width: 210px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #ffcc00;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#order:hover {
  background-color: #e65c00;
}






@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    button {
        width: 100%;
    }
}
