<div class="mainDiv">
<app-nav-bar [usersFromHomeComponent]="users" (cancelRegister)="cancelRegisterMode($event)"></app-nav-bar>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="home.component.css">


<div class="searchform-container">
  <div class="full-searchform-content">
    <div class="searchform-content">
      <form #searchform class="search">
        <div class="grid-container">
          <!-- CPU -->
          <div class="grid-item">
            <h2>Select Processor</h2>
            <div class="searchform-control">
              <input
                type="text"
                placeholder="Select CPU"
                aria-label="CPU"
                matInput
                [formControl]="cpuAutoControl"
                [matAutocomplete]="cpuAuto"
              />
              <mat-autocomplete #cpuAuto="matAutocomplete">
                <mat-option *ngFor="let cpuOption of filteredCPUOptions | async" [value]="cpuOption">
                  {{cpuOption}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>

          <!-- GPU -->
          <div class="grid-item">
            <h2>Select Graphics Card</h2>
            <div class="searchform-control">
              <input
                type="text"
                placeholder="Select GPU"
                aria-label="GPU"
                matInput
                [formControl]="gpuAutoControl"
                [matAutocomplete]="gpuAuto"
              />
              <mat-autocomplete #gpuAuto="matAutocomplete">
                <mat-option *ngFor="let gpuOption of filteredGPUOptions | async" [value]="gpuOption">
                  {{gpuOption}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>

          <!-- Motherboard -->
          <div class="grid-item">
            <h2>Select Motherboard</h2>
            <div class="searchform-control">
              <input type="text" placeholder="Select Motherboard" />
            </div>
          </div>

          <!-- RAM -->
          <div class="grid-item">
            <h2>Select RAM</h2>
            <div class="searchform-control">
              <input type="text" placeholder="Select RAM" />
            </div>
          </div>

          <!-- PSU -->
          <div class="grid-item">
            <h2>Select Power Supply</h2>
            <div class="searchform-control">
              <input type="text" placeholder="Select PSU" />
            </div>
          </div>

          <!-- Case -->
          <div class="grid-item">
            <h2>Select Case</h2>
            <div class="searchform-control">
              <input
                type="text"
                placeholder="Select Case"
                aria-label="Case"
                matInput
                [formControl]="caseAutoControl"
                [matAutocomplete]="caseAuto"
              />
              <mat-autocomplete #caseAuto="matAutocomplete">
                <mat-option *ngFor="let caseOption of filteredCaseOptions | async" [value]="caseOption">
                  {{caseOption}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>

          <!-- Budget Slider -->
          <div class="grid-item slider-full-width">
            <h2>Budget</h2>
            <div class="searchform-control">
              <mat-slider min="0" max="2000" step="10" discrete showTickMarks>
                <input matSliderStartThumb />
                <input matSliderEndThumb />
              </mat-slider>
            </div>
          </div>

          <!-- Buttons -->
          <div class="grid-item buttons-full-width">
            <div class="searchform-control-others">
              <button mat-button id="Search" type="submit">Search</button>
              <button mat-button id="Reset" type="button" (click)="resetForm()">Reset</button>
            </div>
            <div class="build-pc-button">
              <button id="BuildPC" type="button">Build Your Own PC</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- example code -->
<div class="content-container">
  <div class="card-container">
    <div class="card" *ngFor="let computer of ['Computer 1', 'Computer 2', 'Computer 3', 'PC4', 'PC5']">
      <div class="card-content">
        <h3 class="header-text">{{ computer }}</h3>
        <img src="https://via.placeholder.com/150" alt="Computer Image" class="card-image">
        <div class="details-button">
          <button class="details">See Details</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-details-container" *ngIf="isCardDetailsFormVisible">
  <div class="card-details-content">
    <button class="close-button" aria-label="Close alert" type="button" data-close (click)="closeCardDetailsForm()">
      <span aria-hidden="true">&times;</span>
  </button>
  <form #cardDetailsForm class="cardDetails">
    <h2>Computer 1</h2>
    <h2>Price: </h2>
    <img src="../../images/komp1.jpg" alt="">
    <table>
      <tbody></tbody>
    </table>
  </form>
  </div>
</div>


</div>
