<div class="mainDiv">
<app-nav-bar [usersFromHomeComponent]="users" (cancelRegister)="cancelRegisterMode($event)"></app-nav-bar>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="home.component.css">

<!--
<div class="main-page-container">
  <div class="main-page-text">
    <h2>Build the PC of Your Dreams, One Component at a Time</h2>
    <p>
      Design and customize the perfect PC tailored to your needs, turning your dream setup into reality.</p>
    <button class="contact-us-btn" routerLink="/support" routerLinkActive="active">Contact Us</button>
  </div>
</div>
-->

<div class="searchform-container">
  <div class="full-searchform-content">
    <div class="searchform-content">
      <form #searchform class="search">
        <div class="grid-container">
          <!-- CPU -->
          <div class="grid-item">
            <h2>Select CPU</h2>
            <div class="searchform-control">
              <input type="text"
                placeholder="Select CPU"
                aria-label="CPU"
                matInput
                [formControl]="cpuAutoControl"
                [matAutocomplete]="cpuAuto">
              <mat-autocomplete #cpuAuto="matAutocomplete">
                @for (cpuoption of filteredCPUOptions | async; track cpuoption) {
                <mat-option [value]="cpuoption">{{cpuoption}}</mat-option>
                }
              </mat-autocomplete>
            </div>
          </div>

          <!-- GPU -->
          <div class="grid-item">
            <h2>Select GPU</h2>
            <div class="searchform-control">
              <input type="text"
                placeholder="Select GPU"
                aria-label="GPU"
                matInput
                [formControl]="gpuAutoControl"
                [matAutocomplete]="gpuAuto">
              <mat-autocomplete #gpuAuto="matAutocomplete">
                @for (gpuoption of filteredGPUOptions | async; track gpuoption) {
                <mat-option [value]="gpuoption">{{gpuoption}}</mat-option>
                }
              </mat-autocomplete>
            </div>
          </div>

          <!-- Motherboard -->
          <div class="grid-item">
            <h2>Select Motherboard</h2>
            <div class="searchform-control">
              <input type="text" placeholder="Select Motherboard">
            </div>
          </div>

          <!-- RAM -->
          <div class="grid-item">
            <h2>Select RAM</h2>
            <div class="searchform-control">
              <input type="text" placeholder="Select RAM">
            </div>
          </div>

          <!-- PSU -->
          <div class="grid-item">
            <h2>Select PSU</h2>
            <div class="searchform-control">
              <input type="text" placeholder="Select PSU">
            </div>
          </div>

          <!-- Storage -->
          <div class="grid-item">
            <h2>Select Storage</h2>
            <div class="searchform-control">
              <input type="text" placeholder="Select Storage">
            </div>
          </div>
          <div class="grid-item">
          <h2>Budget</h2>
            <div class="searchform-control">
                <mat-slider min="0" max="2000" step="0.5" discrete showTickMarks>
                    <input matSliderStartThumb>
                    <input matSliderEndThumb>
                </mat-slider>
            </div>
          </div>
          <div class="searchform-control-others">
            <button mat-button id="Search" type="submit">Search</button>
            <button mat-button id="Reset" type="submit">Reset</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>

