<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<nav class="nav-bar">
    <ul class="navhome">
        <li><a mat-button routerLink="/home">EasyPC<img src="/images/logoIcon.png" alt="ordersIcon" class="icons"></a></li>
    </ul>
    @if (accountService.currentUser()) {
    <ul class="navcenter">
        <li><a mat-button routerLink="/products" routerLinkActive="active">Products<img src="/images/productsIcon.png" alt="ordersIcon" class="icons"></a></li>
        <li><a mat-button routerLink="/orders" routerLinkActive="active">Orders<img src="/images/ordersIcon.png" alt="ordersIcon" class="icons"></a></li>
        <li><a mat-button routerLink="/support" routerLinkActive="active">Support<img src="/images/supportIcon.png" alt="supportIcon" class="icons"></a></li>
    </ul>
    }
    <ul class="navright">
        @if (!accountService.currentUser()) {
        <li><a mat-button id="loginButton" (click)="openLoginForm()" routerLinkActive="active-link">Login</a></li>
        <li><a mat-button id="registerButton" (click)="openRegisterForm()" routerLinkActive="active-link">Register</a>
        </li>
        }
        @else {
        <li class="dropdown">
            <a mat-button id="welcomeUser" (click)="toggleDropDown()" class="dropdown-toggle">
                <span class="welcome-text"><img src="/images/userIcon.png" alt="ordersIcon" class="icons">User: </span>
                <span class="user-text"> {{accountService.currentUser()?.username}}</span> &#9662;
            </a>
            <ul class="dropdown-menu" *ngIf="isDropDownVisible">
                <li><a mat-button routerLink="/edit-profile" routerLinkActive="active-link">Edit profile</a></li>
                <li><a mat-button routerLink="/" (click)="accountService.logout()">Logout</a></li>
            </ul>
        </li>
        }
    </ul>
</nav>

<div class="loginform-container" *ngIf="isLoginFormVisible">
    <div class="loginform-content">
        <button class="close-button" aria-label="Close alert" type="button" data-close (click)="closeLoginForm()">
            <span aria-hidden="true">&times;</span>
        </button>
        <form #loginForm class="login" (ngSubmit)="login()">
            <h2>EasyPC</h2>
            <div class="loginform-control">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" [(ngModel)]="model.username" required />
            </div>
            <div class="loginform-control">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" [(ngModel)]="model.password" required />
            </div>
            <div *ngIf="errorMessage" class="error-message">
                {{errorMessage}}
            </div>
            <div class="loginform-control-others">
                <button mat-button id="login" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>


<div class="registerform-container" *ngIf="isRegisterFormVisible">
    <div class="registerform-content">
        <button class="close-button" aria-label="Close alert" type="button" data-close (click)="closeRegisterForm()">
            <span aria-hidden="true">&times;</span>
        </button>
        <form #registerForm class="register" (ngSubmit)="register()">
            <h2 style="color: #ffcc00;">Sign up</h2>
            <hr style="width: 50%;">
            <div class="registerform-control">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" [(ngModel)]="model.username" required />
            </div>
            <div class="registerform-control">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" [(ngModel)]="model.password" required />
            </div>
            <div *ngIf="errorMessage" class="error-message">
                {{errorMessage}}
            </div>
            <div class="registerform-control-others">
                <button mat-button id="register" type="submit">Register</button>
                <button mat-button id="cancelRegister" type="button" (click)="closeRegisterForm()">Cancel</button>
            </div>
        </form>
    </div>
</div>