.mainDiv {
    background: linear-gradient(320deg, #2f2626, #3e3e3e);
    height: 100vh;
    width: 100%;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.navBar {
    height: 56px;
    background-color: #1f1f1f;
    color: #fff;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.products-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffcc00;
}
.info-box {
    width: 100%;
    max-width: 600px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  p{
    color: black;
    text-align: center;
  }