<div class="mainDiv">
    <div class="navBar">
        <app-nav-bar></app-nav-bar>
    </div>

    <div class="products" [class.animate-left]="selectedAction === 'UPDATE' || selectedAction === 'ADD'">
        <h2 class="products-title">Select Your Component</h2>
        <div class="arrow"></div>
        <div>
            <div>
                <select (change)="onTypeChange($event)">
                    <option value="" hidden selected>Select Component</option>
                    <option value="CPU">Processor</option>
                    <option value="GPU">Graphics card</option>
                    <option value="PSU">Power supply</option>
                    <option value="RAM">Ram</option>
                    <option value="CASE">Case</option>
                    <option value="MOTHERBOARD">Motherboard</option>
                    <option value="PC">PC</option>
                </select>
            </div>
            <div class="arrow"></div>
            <select (change)="onActionChange($event)" name="selectedAction" [(ngModel)]="selectedAction"
                [disabled]="!selectedType()">
                <option value="GET">Available items</option>
                <option value="ADD">Add new</option>
                <option value="UPDATE" hidden>Update</option>
            </select>
        </div>


        <div class="info-box">
            @if (selectedType() === "") {
            <h1>Nothing has been selected</h1>
            }
            @else {
            <div *ngIf="items && items.length > 0; else emptyList">
                <div *ngFor="let item of items; let i = index">
                    <div class="processor-item">
                        <p>{{item.name}}</p>
                        <button (click)="deleteProduct(selectedType(),item.id)" class="btnDelete">Delete</button>
                        <button (click)="selectedAction='UPDATE';setModel(item);model.name = item.name"
                            class="btnUpdate">Update</button>
                    </div>
                </div>
            </div>

            <ng-template #emptyList>
                <p>Empty list of {{selectedType()}}</p>
            </ng-template>
            }
        </div>
    </div>

    <div *ngIf="selectedAction === 'ADD'" class="form-box-add animate-right">
        <h1>Add new {{selectedType()}}</h1>
        <form class="formAddProduct" (submit)="addProduct()">
            <label>Name</label>
            <input type="text" placeholder="Name" required name="name" [(ngModel)]="newModel.name">
            <div *ngIf="selectedType() !== 'PC'">
              <label>Price</label>
              <input type="text" placeholder="Price" required name="price" [(ngModel)]="newModel.price">
            </div>
           
            <div *ngIf="selectedType() === 'CPU'">
                <label>Socket</label>
                <input type="text" placeholder="Socket" required name="socket" [(ngModel)]="newModel.socket">
                <label>Thread Count</label>
                <input type="text" placeholder="Thread Count" required name="threadCount"
                    [(ngModel)]="newModel.threadCount">
                <label>Core Count</label>
                <input type="text" placeholder="Core Count" required name="coreCount" [(ngModel)]="newModel.coreCount">
            </div>

            <div *ngIf="selectedType() === 'GPU'">
                <label>Vram</label>
                <input type="text" placeholder="Vram" required name="vram" [(ngModel)]="newModel.vram">
            </div>

            <div *ngIf="selectedType() === 'PSU'">
                <label>Power</label>
                <input type="text" placeholder="Power" required name="power" [(ngModel)]="newModel.power">
            </div>

            <div *ngIf="selectedType() === 'CASE'">
                <label>Form factor</label>
                <input type="text" placeholder="Form factor" required name="formFactor"
                    [(ngModel)]="newModel.formFactor">
            </div>


            <div *ngIf="selectedType() === 'MOTHERBOARD'">
                <label>Socket</label>
                <input type="text" placeholder="Socket" required name="socket" [(ngModel)]="newModel.socket">
            </div>

            <div *ngIf="selectedType() === 'RAM'">
                <label>Speed</label>
                <input type="text" placeholder="Speed" required name="speed" [(ngModel)]="newModel.speed">
            </div>

            <div *ngIf="selectedType() === 'PC'">
              <div class="two-column-grid">
                <mat-form-field appearance="outline">
                  <mat-label>Processor</mat-label>
                  <mat-select [(ngModel)]="newModel.processorId" name="processorId">
                    <mat-option *ngFor="let processor of products?.processors" [value]="processor.id">
                      {{ processor.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            
                <mat-form-field appearance="outline">
                  <mat-label>Graphics card</mat-label>
                  <mat-select [(ngModel)]="newModel.graphicsCardId" name="graphicsCardId">
                    <mat-option *ngFor="let gpu of products?.graphicsCards" [value]="gpu.id">
                      {{ gpu.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            
              <div class="two-column-grid">
                <mat-form-field appearance="outline">
                  <mat-label>RAM</mat-label>
                  <mat-select [(ngModel)]="newModel.ramId" name="ramId">
                    <mat-option *ngFor="let ram of products?.raMs" [value]="ram.id">
                      {{ ram.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            
                <mat-form-field appearance="outline">
                  <mat-label>Case</mat-label>
                  <mat-select [(ngModel)]="newModel.caseId" name="caseId">
                    <mat-option *ngFor="let caseItem of products?.cases" [value]="caseItem.id">
                      {{ caseItem.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            
              <div class="two-column-grid">
                <mat-form-field appearance="outline">
                  <mat-label>Motherboard</mat-label>
                  <mat-select [(ngModel)]="newModel.motherBoardId" name="motherBoardId">
                    <mat-option *ngFor="let motherBoard of products?.motherBoards" [value]="motherBoard.id">
                      {{ motherBoard.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            
                <mat-form-field appearance="outline">
                  <mat-label>Power supply</mat-label>
                  <mat-select [(ngModel)]="newModel.psuId" name="psuId">
                    <mat-option *ngFor="let psu of products?.psUs" [value]="psu.id">
                      {{ psu.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="formbtnAddCPU">
                <button type="submit">ADD</button>
                <button type="button" (click)="closeForm()">CLOSE</button>
            </div>
        </form>
    </div>



    <div *ngIf="selectedAction === 'UPDATE'" class="form-box-update animate-right">
        <h1>Update {{model.name}}</h1>
        <form (submit)="updateProduct(model.name)">
            <label>Name</label>
            <input type="text" placeholder="New name" name="name" [(ngModel)]="newModel.name">
            <label>Price</label>
            <input type="text" placeholder="New Price" name="price" [(ngModel)]="newModel.price">

            <div *ngIf="selectedType() === 'CPU'">
                <label>Socket</label>
                <input type="text" placeholder="Socket" name="socket" [(ngModel)]="newModel.socket">
                <label>Thread Count</label>
                <input type="text" placeholder="Thread Count" name="threadCount" [(ngModel)]="newModel.threadCount">
                <label>Core Count</label>
                <input type="text" placeholder="Core Count" name="coreCount" [(ngModel)]="newModel.coreCount">
            </div>

            <div *ngIf="selectedType() === 'GPU'">
                <label>Vram</label>
                <input type="text" placeholder="Vram" name="vram" [(ngModel)]="newModel.vram">
            </div>

            <div *ngIf="selectedType() === 'PSU'">
                <label>Power</label>
                <input type="text" placeholder="Power" name="power" [(ngModel)]="newModel.power">
            </div>

            <div *ngIf="selectedType() === 'CASE'">
                <label>Form factor</label>
                <input type="text" placeholder="Form factor" name="formFactor" [(ngModel)]="newModel.formFactor">
            </div>

            <div *ngIf="selectedType() === 'MOTHERBOARD'">
                <label>Socket</label>
                <input type="text" placeholder="Socket" name="socket" [(ngModel)]="newModel.socket">
            </div>

            <div *ngIf="selectedType() === 'RAM'">
                <label>Speed</label>
                <input type="text" placeholder="Speed" name="speed" [(ngModel)]="newModel.speed">
            </div>

            <div *ngIf="selectedType() === 'PC'">
              <label>Available: </label>
              <input type="checkbox"  placeholder="Socket" name="socket" [(ngModel)]="newModel.available">
          </div>

            <div class="formBtnUpdateCPU">
                <button type="submit">UPDATE</button>
                <button type="button" (click)="closeForm()">CLOSE</button>
            </div>
        </form>
    </div>

</div>