<div class="mainDiv">
<div class="navBar">
    <app-nav-bar></app-nav-bar>
</div>

    <div class="products" [class.animate-left]="selectedAction === 'UPDATE' || selectedAction === 'ADD'">
        <h2 class="products-title">Select Your Component</h2>
        <div class="arrow"></div>
        <div>
            <div>
                <select (change)="onTypeChange($event)">
                    <option value="" hidden selected>Select Component</option>
                    <option value="CPU">Processor</option>
                    <option value="GPU">Graphics card</option>
                    <option value="PSU">Power supply</option>
                    <option value="RAM">Ram</option>
                    <option value="CASE">Case</option>
                    <option value="MOTHERBOARD">Motherboard</option>
                </select>
            </div>
            <select (change)="onActionChange($event)" name="selectedAction" [(ngModel)]="selectedAction"
                [disabled]="!selectedType()">
                <option value="GET">Available items</option>
                <option value="ADD">Add new</option>
                <option value="UPDATE" hidden>Update</option>
            </select>
        </div>
        <div class="info-box">
            @if (selectedAction === "") {
            <h1>Nothing has been selected</h1>
            }
            @else {
            <div *ngFor="let item of items; let i = index">
                <div class="processor-item">
                    <p>{{item.name}} {{item.type}}</p>
                    <button (click)="deleteProduct(selectedType(),item.name)" class="btnDelete">Delete</button>
                    <button (click)="selectedAction='UPDATE';setModel(item);model.name = item.name"
                        class="btnUpdate">Update</button>
                </div>
            </div>
            }
        </div>
    </div>

    <div *ngIf="selectedAction === 'ADD'" class="form-box-add animate-right">
        <h1>Add new {{selectedType()}}</h1>
        <form class="formAddProduct" (submit)="addProduct()">
            <input type="text" placeholder="Name" name="name" [(ngModel)]="newModel.name">
            <input type="text" placeholder="Price" name="price" [(ngModel)]="newModel.price">

            <div *ngIf="selectedType() === 'CPU'">
                <input type="text" placeholder="Socket" name="socket" [(ngModel)]="newModel.socket">
                <input type="text" placeholder="Thread Count" name="threadCount" [(ngModel)]="newModel.threadCount">
                <input type="text" placeholder="Core Count" name="coreCount" [(ngModel)]="newModel.coreCount">
            </div>

            <div *ngIf="selectedType() === 'GPU'">
                <input type="text" placeholder="vram" name="vram" [(ngModel)]="newModel.vram">
            </div>
            <div class="formbtnAddCPU">
                <button type="submit">ADD</button>
                <button type="button" (click)="closeForm()">CLOSE</button>
            </div>
        </form>
    </div>



    <div *ngIf="selectedAction === 'UPDATE'" class="form-box-update animate-right">
        <h1>Update {{model.name}}</h1>
        <!-- (submit)="updateProduct(model.name)" -->
        <form>
            <label>Name</label>
            <input type="text" placeholder="New name" name="name" [(ngModel)]="newModel.name">
            <label>Socket</label>
            <input type="text" placeholder="New Socket" name="socket" [(ngModel)]="newModel.socket">
            <label>Price</label>
            <input type="text" placeholder="New Price" name="price" [(ngModel)]="newModel.price">
            <label>Thread Count</label>
            <input type="text" placeholder="New Thread Count" name="threadCount" [(ngModel)]="newModel.threadCount">
            <label>Core Count</label>
            <input type="text" placeholder="New Core Count" name="coreCount" [(ngModel)]="newModel.coreCount">
            <div class="formBtnUpdateCPU">
                <button type="submit">UPDATE</button>
                <button type="button" (click)="closeForm()">CLOSE</button>
            </div>
        </form>
    </div>
</div>