<div class="mainDiv">
    <div class="navBar">
        <app-nav-bar></app-nav-bar>
    </div>

    <div class="products">
        <h2 class="products-title">Select Your Components</h2>
        <div>
            <div>
                <label>CPU</label>
            </div>
            <select (change)="selectChanged($event)">
                <option value="GET">GET</option>
                <option value="ADD">ADD</option>
                <option value="DELETE">DELETE</option>
                <option value="UPDATE">UPDATE</option>
            </select>
        </div>
        <div class="info-box">
            @for (item of Output; track $index) {
            <p>{{item.name}} Socket:{{item.socket}}</p>
            }
        </div>
    </div>
    <div *ngIf="selectedAction === 'ADD'" class="form-box-add">
        <h1>Add new processor</h1>
        <form (submit)="addProcessor()">
            <input type="text" placeholder="Name" name="name" [(ngModel)]="model.name">
            <input type="text" placeholder="Socket" name="socket" [(ngModel)]="model.socket">
            <button type="submit">ADD</button>
        </form>
</div>
<div *ngIf="selectedAction === 'DELETE'" class="form-box-delete">
    <h1>Delete processor</h1>
    <form (submit)="deleteProcessor()">
        <input type="text" placeholder="Name" name="name" [(ngModel)]="model.name">
        <button type="submit">DELETE</button>
    </form>
</div>
</div>