<br />
<hr />
<div>
  <form [formGroup]="studentForm" (ngSubmit)="submitChanges()">
    <div>
      <label>Username: </label>
      <input type="text" name="username" formControlName="username" />
    </div>
    <div>
      <label>First name: </label>
      <input type="text" name="firstName" formControlName="firstName" />
    </div>
    <div>
      <label>Last name: </label>
      <input type="text" name="lastName" formControlName="lastName" />
    </div>
    <button type="submit" [disabled]="studentForm.invalid">Save</button>
    <button type="button" (click)="ClosePage()">Close page</button>
  </form>
</div>
