<button class="btnBack" routerLink="/home">Go back</button>
<div class="mainDiv">
    <h1>Register</h1>
    <div>
        <span>Username: </span>
        <input type="text">
    </div>
    <div>
        <span>Password: </span>
        <input type="text">
    </div>
    <div>
        <span>Email: </span>
        <input type="text">
    </div>
    <div>
        <span>Country: </span>
        <input type="text">
    </div>
    <div>
        <span>City: </span>
        <input type="text">
    </div>
    <div>
        <span>Address: </span>
        <input type="text">
    </div>
    <div>
        <button type="submit">Done</button>
    </div>
</div>


