.mainDiv{
    display: flex;
    flex-direction: column;
}
span{
    margin-left: 10px;
    margin-right: 10px;
}

div{
    align-items: center;
    margin-top: 10px;
    font-weight: 400;
    font-size: large;
}
.btnBack{
    margin: 5px;
    background-color: greenyellow;
    border: 0;
}
